{% extends 'management/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Device type create
{% endblock %}

{% block body %}

    <div class="book py-5 bg-light">
    <div class="container">
    <form method="POST">
        <div class="card bg-light my-4 p-4 text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success">Добавить</button>
            <span>{{ error }}</span>
        </div>
    </form>
    </div>
    </div>
{% endblock %}