{% extends 'management/base.html' %}
{% block body %}
{% if team_list %}
    <div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Team name</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
             <tbody>

            {% for team in team_list %}
                <tr class="table-primary">
                    <th scope="row">{{ team.team_name }}</th>
                    <td><div class="btn-group">
                            {% if perms.PersonnelManagement.change_projectemail %}
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'management:team_update' team.id %}">Edit</a>
                            {% endif %}
                            {% if perms.PersonnelManagement.delete_invoicetype %}
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'management:team_delete' team.id %}">Delete</a>
                            {% endif %}
                        </div></td>
                </tr>
            {% endfor %}
             </tbody>
        </table>
        </div>
    </div>
{% else %}
    <div class="container">
    <div class="bg-light my-4 p-4 text-center">
    <p>List is empty. Push the button to create team.</p>
    <a class="btn btn-success" style="color: black" href="{% url 'management:team_create' %}">Сreate team</a>
    </div>
    </div>
{% endif %}
{% endblock %}